<!DOCTYPE html>
<html>
<head>
  <title>JSON Fetcher</title>
  <!-- Include VUE, Bootstrap, and AJAX Scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
</head>


<p id="base">


<!-- Ensure Table is hidden after the selected user for brevity and focus-->
<script type="text/javascript">
var hide = false;
function toggleTable() {
  if (hide == false) {
    hide = true;
    document.getElementById('required_details').style.display = 'none';
  } else {
    hide = false;
    document.getElementById('required_details').style.display = 'block';
  }
}
</script>


<!-- Create a VUE Instance to Fetch JSON -->
<script type="text/javascript">
new Vue({
  el: "#base",
  data: {
    users: ''
  },

  // Create a method function to aynchronously fetch JSON, see https://vuejs.org/v2/api/#methods
  methods: {
    details(id, i) {
      fetch("https://jsonplaceholder.typicode.com/users")
        .then(response => response.json())
        .then((data) => {
          this.users = data[i];
          if (!data.ok) {
            throw new Error(data.status);
          }
          }) 
      // Catch error
      .catch(error =>  console.log(error.message));
      },
    },

    // Create a hook, mounted function once method has been created to mount the JSON data.
    mounted() {
      fetch("https://jsonplaceholder.typicode.com/users")
        .then(response => response.json())
        .then((data) => {
          this.users = data;
        })
    },
    
    // Create a string template to display the mounted elements in HTML Table.
    template: 
      `
        <div>
              <table class="table  table-striped" >
                <tr>
                <h2> Fetch data from https://jsonplaceholder.typicode.com/users. </h2>
                <h6> This is just a simple app to fetch JSON asynchronously.</h6>
                <hr>
                  <h4>ID:  {{ users.id }}</h4>
                  <h4>NAME:  {{users.name }}</h4>
                  <h4>USERNAME:  {{ users.username }}</h4>
                  <h4>EMAIL:  {{ users.email }}</h4>
                  <h4>ADDRESS:  {{users.address }}</h4>
                  <h4>PHONE:  {{ users.phone }}</h4>
                  <h4>WEBSITE:  {{ users.website }}</h4>
                  <h4>COMPANY:  {{ users.company }}</h4>
                </tr>
              </table>
          <hr>
          <template>
              <div class="table-responsive">
                  <table id="required_details" class="table-hover" v-if="users">
                      <thead>
                          <tr >
                            <th>ID</th>
                            <th>NAME</th>
                            <th>USERNAME</th>
                          </tr>
                      </thead>
                      <tbody >
                          <tr  v-for="user, i in users">
                            <td><a onclick="toggleTable()" class="btn button-primary" v-on:click="details(user.id, i)" >{{ user.id }}</a></td>
                            <td><a onclick="toggleTable()" class="btn button-primary" v-on:click="details(user.id, i)" >{{ user.name }}</a></td>
                            <td><a onclick="toggleTable()" class="btn button-primary" v-on:click="details(user.id, i)" >{{ user.username }}</a></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </template>
          <hr>
              <button id="required_details" type="button" class="btn btn-primary" onClick="history.go(0);">Check Other Users</button>
              <h6> Powered by VUE </h6>
        </div>
      `,
});
</script>
</html>

